.grid
  .container
    .grid__cards
      .grid__card.grid__card--one
        .grid__card-content
          .grid__card-middle
            img.grid__card-img(src=require("images/edit-icon.svg") alt="Edit icon")
            span.grid__card-subtitle Travelling
            span.grid__card-title Travel besT Adventure
            span.grid__card-date January 25, 2016
            p.grid__card-text 
              | Lorem ipsum doloirs sit amet, csatetur adipisicin, sed does eiusmod 
              | tehampor incididunt uts laboasre et dolhvaliqua. Ut enim  vem, nostrasuaations 
              | ullamco labiosi ut saaliquip exoi asea comoodo Disco choice is the have great work.
            a.grid__card-link(href="#") Read More
          .grid__card-bottom 
            .grid__card-comments 
              img.grid__card-comments__img(src=require("images/comments-icon.svg") alt="Comments icon")
              span.grid__card-comments__text No Comment
            .grid__card-sharing 
              a.grid__card-sharing__link.grid__card-sharing__link--ball(href="#") 
              a.grid__card-sharing__link.grid__card-sharing__link--facebook(href="#") 
              a.grid__card-sharing__link.grid__card-sharing__link--twitter(href="#") 
              a.grid__card-sharing__link.grid__card-sharing__link--pinterest(href="#") 
      .grid__card.grid__card--two
        .grid__card-content
          img.grid__card-bgimage(src=require("images/card-img-1.jpg") alt="Card image")
          .grid__card-middle
            img.grid__card-img(src=require("images/picture-icon.svg") alt="Picture icon")
            span.grid__card-subtitle Travelling
            span.grid__card-title Standard Image Post 
            span.grid__card-date January 25, 2016
            a.grid__card-link(href="#") Read More
          .grid__card-bottom 
            .grid__card-comments 
              img.grid__card-comments__img(src=require("images/comments-icon.svg") alt="Comments icon")
              span.grid__card-comments__text 06 Comment
            .grid__card-sharing 
              a.grid__card-sharing__link.grid__card-sharing__link--ball(href="#") 
              a.grid__card-sharing__link.grid__card-sharing__link--facebook(href="#") 
              a.grid__card-sharing__link.grid__card-sharing__link--twitter(href="#") 
              a.grid__card-sharing__link.grid__card-sharing__link--pinterest(href="#")
      .grid__card.grid__card--three
        .grid__card-content
          .grid__card-middle
            img.grid__card-img(src=require("images/edit-icon.svg") alt="Edit icon")
            span.grid__card-subtitle Travelling
            span.grid__card-title Travel besT Adventure
            span.grid__card-date January 25, 2016
            p.grid__card-text 
              | Lorem ipsum doloirs sit amet, csatetur adipisicin, sed does eiusmod 
              | tehampor choice is the have great work.
            a.grid__card-link(href="#") Read More
          .grid__card-bottom 
            .grid__card-comments 
              img.grid__card-comments__img(src=require("images/comments-icon.svg") alt="Comments icon")
              span.grid__card-comments__text No Comment
            .grid__card-sharing 
              a.grid__card-sharing__link.grid__card-sharing__link--ball(href="#") 
              a.grid__card-sharing__link.grid__card-sharing__link--facebook(href="#") 
              a.grid__card-sharing__link.grid__card-sharing__link--twitter(href="#") 
              a.grid__card-sharing__link.grid__card-sharing__link--pinterest(href="#")
      .grid__card.grid__card--four
        .grid__card-content
          img.grid__card-bgimage(src=require("images/card-img-2.jpg") alt="Card image")
      .grid__card.grid__card--five
        .grid__card-content
          img.grid__card-bgimage(src=require("images/card-img-2.jpg") alt="Card image")
      .grid__card.grid__card--six
        .grid__card-content
          .grid__card-middle
            img.grid__card-img(src=require("images/quote-icon.png") alt="Quote icon")
            p.grid__card-text 
              | As per Lorm ipsum dolor sitamet, consectetur adipisicing elits, 
              | sed do Now eiusmod tempor havei ut labores et dolore magna aliqusa. 
              | Ut wenim ad minim veniam, quis its a snostrud now is the ullamco 
              | aliquip ex ea commodo .
            a.grid__card-account(href="#") Nathalia Alexy
      .grid__card.grid__card--seven
        .grid__card-content
          img.grid__card-bgimage(src=require("images/card-img-1.jpg") alt="Card image")
          .grid__card-middle
            img.grid__card-img(src=require("images/picture-icon.svg") alt="Picture icon")
            span.grid__card-subtitle Adventures
            span.grid__card-title awesome Gallery Post 
            span.grid__card-date January 19, 2016
            a.grid__card-link(href="#") Read More
          .grid__card-bottom 
            .grid__card-comments 
              img.grid__card-comments__img(src=require("images/comments-icon.svg") alt="Comments icon")
              span.grid__card-comments__text 02 Comment
            .grid__card-sharing 
              a.grid__card-sharing__link.grid__card-sharing__link--ball(href="#") 
              a.grid__card-sharing__link.grid__card-sharing__link--facebook(href="#") 
              a.grid__card-sharing__link.grid__card-sharing__link--twitter(href="#") 
              a.grid__card-sharing__link.grid__card-sharing__link--pinterest(href="#")
      .grid__card.grid__card--eight 
        .grid__card-content
          .grid__card-middle
            img.grid__card-img(src=require("images/edit-icon.svg") alt="Edit icon")
            span.grid__card-subtitle Lifestyle
            span.grid__card-title without image post 
            span.grid__card-date January 25, 2016
            p.grid__card-text 
              | Lorem ipsum doloirs sit amet, csatetur adipisicin, sed does eiusmod 
              | tehampor incididunt uts laboasre et dolhvaliqua. Ut enim  vem,
              |  nostrasuaations ullamco labiosi ut saaliquip exoi asea comoodo Disco 
              | choice is the have great work.
            a.grid__card-link(href="#") Read More
          .grid__card-bottom 
            .grid__card-comments 
              img.grid__card-comments__img(src=require("images/comments-icon.svg") alt="Comments icon")
              span.grid__card-comments__text No Comment
            .grid__card-sharing 
              a.grid__card-sharing__link.grid__card-sharing__link--ball(href="#") 
              a.grid__card-sharing__link.grid__card-sharing__link--facebook(href="#") 
              a.grid__card-sharing__link.grid__card-sharing__link--twitter(href="#") 
              a.grid__card-sharing__link.grid__card-sharing__link--pinterest(href="#") 
      .grid__card.grid__card--nine 
        .grid__card-content
          .grid__card-middle
            img.grid__card-img(src=require("images/edit-icon.svg") alt="Edit icon")
            span.grid__card-subtitle Travelling
            span.grid__card-title Travel besT Adventure
            span.grid__card-date January 25, 2016
            p.grid__card-text 
              | Lorem ipsum doloirs sit amet, csatetur adipisicin, sed does eiusmod 
              | tehampor incididunt uts laboasre et dolhvaliqua. Ut enim  vem, nostrasuaations 
              | ullamco labiosi ut saaliquip exoi asea comoodo tehampor incididunt uts laboasre 
              | etsa iusmod tehampor incididunt uts havlaboasre et dolhvaliqua. Ut enim  
              | vem, choice is the have great work.
            a.grid__card-link(href="#") Read More
      .grid__card.grid__card--ten 
        .grid__card-content
          .grid__card-middle
            img.grid__card-img(src=require("images/share-icon.svg") alt="Edit icon")
            a.grid__card-sharing-link(href="#")  http://www.abcdomainname.com/ screen/discovery
      .grid__card.grid__card--eleven 
        .grid__card-content
          .grid__card-middle
            img.grid__card-img(src=require("images/music-icon.svg") alt="Edit icon")
            span.grid__card-subtitle Audio Music 
            span.grid__card-title Best Audio Player Post 
            span.grid__card-date December 29, 2015
            svg.grid__card-circle(viewBox="0 0 135 135" version="1.1" xmlns="http://www.w3.org/2000/svg" fill="#999999")
              circle(cx="67" cy="67" r="67")
      .grid__card.grid__card--twelve
        .grid__card-content
          img.grid__card-img(src=require("images/video-icon.svg") alt="Edit icon")
          iframe( class="grid__card-video" width="360" height="256" src="https://www.youtube.com/embed/YsBe9BFIjBs" title="YouTube video player" frameborder="0" allow="accelerometer; aumiddlelay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
          .grid__card-middle
            span.grid__card-subtitle Designer
            span.grid__card-title Video Image Post Style
            span.grid__card-date January 25, 2016
            p.grid__card-text 
              | A CONAN staffer is learning the rules of the in  road, with a 
              | little help from Look out, fellow drivers!
          .grid__card-bottom 
            .grid__card-comments 
              img.grid__card-comments__img(src=require("images/comments-icon.svg") alt="Comments icon")
              span.grid__card-comments__text No Comment
            .grid__card-sharing 
              a.grid__card-sharing__link.grid__card-sharing__link--ball(href="#") 
              a.grid__card-sharing__link.grid__card-sharing__link--facebook(href="#") 
              a.grid__card-sharing__link.grid__card-sharing__link--twitter(href="#") 
              a.grid__card-sharing__link.grid__card-sharing__link--pinterest(href="#")
      .grid__card.grid__card--thirteen
        .grid__card-content
          img.grid__card-img(src=require("images/square-icon.svg") alt="Square icon")
          img.grid__card-bgimage(src=require("images/card-img-1.jpg") alt="Card image")
